*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.logo{
    margin-left: 20px;
    width: 50%;
}
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgba(65, 60, 60, 0.295);  
    z-index: 99;
    background-color: white;
}
.header_container{
    width: 960px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
    background-color: #fff;
}
.profile_icon{
    height: 35px;
    border-radius: 50%;
}
.search{
    padding: 5px;
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: 9px 6px;
    outline: 0.5px;
    border: 1px solid rgba(65, 60, 60, 0.295);
    border-radius: 3px;
 
}
.search::placeholder{
    color: black;
    padding-left: 25px;
    font-family: var(--font);
}

/* Main container Section */
.main-container{
    width: 100%;
    z-index: 1;
    position: relative;
}

.inner-container{
    width: 1210px;
    height: 100%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-direction: row;
}

/* Post Section Start */


.post{
    width: 610px;
    height: 560px;
    border: 0.5px solid rgba(0, 0, 0, 0.281);
    background-color: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    margin-bottom: 100px !important;
    margin-top: 120px;
}

  .left-section{
    flex: 1;
    width: 60%;
    margin-right: 40px;

  }
.right-section{
        flex: 1;
        width: 40%;
}
  

.post_header,.comment-info{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}
.p_inner{
    width: 200px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    padding-right: 10px;
    
}
.post_profile,.comment-person-pic{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid salmon;
    margin-right: 20px;
    
}
.p_name,.comment-username{
    font-family: var(--font);
    color: #262626;
    font-weight: 600;
    }

.comment-text{
    margin-left:10px;
}
.threedots{
    width: 30px;
    margin-right: 10px;
    padding-top: 5%;
}

.p_image{
    height: 400px;
    margin-top: 12px;
}
.pp_full{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.reaction_icon{
    display: flex;
    margin: 20px 0px 0 10px;
    justify-content: space-between;
}
.left_i i{
    margin-left: 5px;
    margin-right: 20px;
}
.rigts_i i{
    margin-right: 10px;
}
.comment_section{
    border-top: 0.5px solid rgba(0, 0, 0, 0.281);
    padding-top: 10px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.input_box img{
    margin-left:10px;
}
.inpt_c{
  
    margin-left: 10px;
    border: none;
    outline: none;
    position: relative;
    top: -7px;
}

.inpt_c::placeholder{
    font-family: var(--font);
}
.c_txt p{
    margin-right: 10px;
    font-family: var(--font);
    font-weight: 600;
    font-size: 14px;
    color: #3EABF7;
}

#post_btn{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    background-color: #007bff;
    border: none;
}

#post_btn{
    margin-right: 20px;
}

.iconbar{
    display: inline-flex;
}
  
.iconbar .icon{
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .iconbar .icon span{
    display: block;
    height: 50px;
    width: 50px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .iconbar .icon span i,.iconbar .icon span img{
    margin-top: 12px;
    font-size: 25px;
  }
  .iconbar .icon .tooltip{
    position: absolute;
    top: 0;
    z-index: 1;
    background: #fff;
    color:#fff;
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .iconbar .icon:hover .tooltip{
    top: 70px;
    opacity: 1;
    pointer-events: auto;
  }
  .iconbar .icon:hover span{
    color: #fff;
  }
  .iconbar .icon:hover span,
  .iconbar .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgba(177, 165, 165, 0.4);
  }


  .iconbar .icon:hover span,.iconbar .icon:hover .tooltip,.iconbar .icon:hover .tooltip:before{
    background:rgb(130, 120, 120);
}

  a {
    color: inherit;
    text-decoration: none;
  }
  
  .icon button{
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
  }

  .comments-container{
    visibility:hidden;
    width: 410px;
    height: 560px;
    border: 0.5px solid rgba(0, 0, 0, 0.281);
    background-color: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
    margin-bottom: 100px !important;
    margin-top: 120px;
    overflow: auto; /* Add this property to enable scrolling */
    padding: 10px; /* Add padding to provide some space around the content */
  }

  .single-comment{
    border: 0.5px solid rgba(0, 0, 0, 0.281);
  }
  
  .post-comment-btn{
    margin-right: 10px;
    padding: 3px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }



  .profwrap{
    margin: 140px 320px;
    width: 50%;
    z-index: 1;
    position: relative;
    height: fit-content;
    object-fit: cover;
    border: 1px solid rgb(11, 11, 10);
  }

  .profimg{
    text-align: center;
    padding: 20px;
    margin: 40px 270px;
    border: 1px solid rgb(11, 11, 10);
    height: fit-content;
    object-fit: cover;
    width: fit-content;
  }

  .profdetails h3{
    text-align: center;
    padding-top: 10px;
  }

  .addclasspost,.upload{
    visibility: hidden;
  }

  .visible {
    visibility: visible;
}
  
  


  